[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
opencv-python = "*"
numpy = "*"
fastai = "===2.0.11"

[dev-packages]
pylint = "*"
yapf = "*"

[requires]
python_version = "3.7"
