[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
flask-cors = "*"
opencv-python = "*"
numpy = "*"
fastai = "===2.1.10"

[dev-packages]
pylint = "*"
yapf = "*"
ipython = "*"

[requires]
python_version = "3.7"
