.mask-detector-results {
    position: relative;
    max-height: 500px;
    max-width: 500px;
    margin: 10px;
}

.mask-detector-results__img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
}
