.face-box {
    position: absolute;
    outline: 5px solid;
    box-shadow: 0 0 10px black;
}

.face-box:hover {
    outline-width: 8px;
}

.face-box--correct {
    outline-color: lime;
}

.face-box--incorrect {
    outline-color: yellow;
}

.face-box--none {
    outline-color: red;
}